node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.idea
ignition/deployments

# Remix files
/contracts/artifacts
/contracts/conis/artifacts
/.states/vm-cancun/state.json
